body { 
font-family: "Trebuchet MS", Helvetica, sans-serif;
text-align: center;
} 

div.backgroundart {display: block; position: fixed; top: 0px; left: 0px; right: 0px;
bottom: 0px; background: linear-gradient(30deg, #AA9988 10%, #FFEEAA ); z-index: -1}
div.backgroundoscilo {display: block; position: fixed; top: 0px; left: 0px; right: 0px;
bottom: 0px; background: linear-gradient(30deg, #BAA066 10%, #FFFFCC ); z-index: -1}
div.backgroundhome {display: block; position: fixed; top: 0px; left: 0px; right: 0px;
bottom: 0px; background: #AAAAAA; z-index: -1}

.drawing {display: block; margin: 50px auto 50px auto; padding: 4px 2px 4px 2px;
background-color: #FFFFE0; border-style: double; margin; border-width: 3px;}
.drawingfloat {display: float; margin: 20px 20px 20px 20px; padding: 4px 2px 4px 2px;
background-color: #FFFFE0; border-style: double; margin; border-width: 3px;}
.crotchet {display: float; margin: 10px 10px 10px 10px; background-color: #FFFFE0; padding: 10px 10px 10px 10px;}